
<div class="container">
        <div class="container-fluid">
            <div class="row">
                {{!--<div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#">Logo</a>
                        </li>
                        <li>
                            <a href="#">MagLook</a>
                        </li>
                        <li class="dropdown pull-right">
                            <a href="#">SignUp/Login</a>
                        </li>
                    </ul>
                </div>--}}

   
            {{#each articles}}                        
                        <div id = "article">
                            <a href= "{{this.url}}" target="_blank">
                                <img src= "{{this.image_url}}">
                                <p>{{this.description}}</p> 
                            </a>
                        </div> 
              {{/each}}   

   
</div>
</div>
 
   